<strong>Olá, {{ organizer }}</strong>
<p>
  Você tem um novo participante inscrito no meetup <strong>{{ meetup }}</strong>
  que acontecerá em <strong>{{ date }}</strong>
</p>
<br />
<p>
  <strong>Participante:</strong> {{ userName }}<br />
  <strong>Email:</strong> {{ userEmail }}
</p>
